.multi-select__control {
  border-radius: 0 !important;
  font-size: 0.875rem;
  color: var(--black-2);
  letter-spacing: -0.1px;
  border-color: var(--very-light-pink) !important;

  &:hover {
    border-color: var(--very-light-pink);
  }
}

.multi-select__control--is-focused,
.multi-select__control--menu-is-open {
  border-color: var(--very-light-pink) !important;
  box-shadow: 0 0 0 0.125rem rgba(208, 208, 208, .25) !important;
  outline: 0;
}