.card-title {
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--black);
  font-size: 1.125rem;
  letter-spacing: -0.18px;
}

.card-content {
  font-family: var(--main-font);
  font-weight: light;
  font-size: var(--base-font-size);
}
