.card-title {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: -0.18px;
}

.card-content {
  color: #919191;
  font-family: var(--main-font);
  font-size: var(--base-font-size);
}

.card-divider {
  background-color: var(--very-light-pink);
  height: 1px;
  margin-bottom: 1.125rem;
  margin-top: 1.125rem;
}

.card-link {
  color: var(--bright-blue);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.27px;
  line-height: 1em;

  &:hover {
    font-size: 0.75rem;
  }
}
