.detail {
  background-color: rgba(21, 21, 21, 0.7);
}

.detail-body {
  align-items: stretch;
  background-color: white;
  height: 100%;
  max-width: none;
  width: 100%;
}

.detail-container {
  overflow: hidden;
  max-width: none;
  width: 100%;
  background-color: white;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

.btn-close {
  /* align-items: self-end; */
  position: relative;
  /* z-index: 100; */
  height: 10%;
  margin-top: 1.5rem;
}
