.detail {
  background-color: rgba(21, 21, 21, 0.7);
}

.detail-body {
  align-items: stretch;
  background-color: white;
  height: 100%;
  max-width: none;
  width: 100%;
}

.modal-content {
  background-color: white;
  height: 100%;
  border: 0;
  padding: 0;
}
