@import './settings';
@import './fonts';
@import './base/index';
@import './atoms/index';
@import './molecules/index';
@import './organisms/index';
@import './templates/index';

.metro {
  font-family: var(--main-font);
}

.sidebar-wrapper {
  height: 450px;
}
