@import './settings';
@import './fonts';
@import '/icons';
@import './base/index';
@import './atoms/index';
@import './molecules/index';
@import './organisms/index';
@import './templates/index';


.metro {
  font-family: var(--main-font);
}

.custom-pg {
  padding: 2rem;
}

.sidebar-wrapper {
  height: 800px;
}