@import './lib/css/settings';
@import './lib/css/fonts';
@import './lib/css/hepers';
@import './lib/css/base/index';
@import './lib/css/atoms/index';
@import './lib/css/molecules/index';
@import './lib/css/organisms/index';
@import './lib/css/templates/index';

body {
  background-color: red;
}
